@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* font-family: 'Carter One', cursive; */
  background-color: rgb(228, 241, 235);
}

/* width */
body::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #505251; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c4cac5; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }

.sidebar {
    animation-name: example;
    overflow: hidden;
    z-index: 4;
    animation-duration: .1s;  
    animation-fill-mode: forwards;
}


@keyframes example {
    from {width: 0px;}
    to {width: 200px;}
  }

@layer components {
    .socialIocn {
        @apply w-10 h-7
    }
    .categorySpan {
        @apply flex items-center text-white
        mt-4 border-b-2 py-2 hover:py-4 transition
    }
    .newsCategory {
        @apply ml-2 text-base font-bold
    }

}